<a href="https://colab.research.google.com/github/nikoko107/Openclassroom/blob/master/UntAnalysez_des_donn%C3%A9es_de_syst%C3%A8mes_%C3%A9ducatifs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Analysez des données de systèmes éducatifs** *texte en italique*


##**Résumé**

Analyser les données sur l'education disponible sur le site de la banque mondial et documenter les possibles utilisation pour orienter l'expension dans de nouveaux pays d'une entreprise specialisé dans la formation niveau lycé et universitée.

##**Réponses à apporter:**


* Valider la qualité de ce jeu de données (comporte-t-il beaucoup de données manquantes, dupliquées ?)
* Décrire les informations contenues dans le jeu de données (nombre de colonnes ? nombre de lignes ?)
* Sélectionner les informations qui semblent pertinentes pour répondre à la problématique (quelles sont les colonnes contenant des informations qui peuvent être utiles pour répondre à la problématique de l’entreprise ?)
* Déterminer des ordres de grandeurs des indicateurs statistiques classiques pour les différentes zones géographiques et pays du monde (moyenne/médiane/écart-type par pays et par continent ou bloc géographique)

##**Type de livrable:**

* Un notebook avec les analyses
* Une Presentation avec graph

**Soigner la présentation et de l'illustrer avec des graphiques pertinents et lisibles !**

##**Cours**

##**Initiez-vous à python pour l'analyse de données**
*texte en italique*
* Mettre en place votre environnement de travail Python
* Manipuler les fonctions et objets fondamentaux
* Structurer votre code au sein d’un projet
* Utiliser des librairies Python spécialisées

## idées de bases

* ordinateur + connexion internet
* langue utilisé

* Utilisation du markdonw pour annoter les notebooks
* Les différents types de variable : int , float , string
* Les fonctions : Nom + paramètres


* Orienté Objet : Classes attributs et methodes
* Tableaux : listes et dictionnaires
** une liste [] est une collection d'objet dont la position est ordonnée de 0 à x
** un dictionnaire {} est une association clé / valeur
* Les structure condtionneles : if elif else
* Les boucles : for in ; while
* Instruction au sein du boucle : continue et break

## **Info Externes**

### **Utilisation de colab**

Import d'un fichier depuis le drive :
installer drive dans colab  àpartir de la barre de fichier à gauche.

Exemple de code avec *pandas* pour lire un csv présent dans le drive :

In [ ]:
import pandas as pd

df=pd.read_csv('/content/drive/MyDrive/Openclassrooms/P2/Data/EdStatsCountry.csv')
df.values

array([['ABW', 'Aruba', 'Aruba', ..., 2012.0, nan, nan],
       ['AFG', 'Afghanistan', 'Afghanistan', ..., 2012.0, '2000', nan],
       ['AGO', 'Angola', 'Angola', ..., nan, '2005', nan],
       ...,
       ['ZAF', 'South Africa', 'South Africa', ..., 2012.0, '2000', nan],
       ['ZMB', 'Zambia', 'Zambia', ..., 2011.0, '2002', nan],
       ['ZWE', 'Zimbabwe', 'Zimbabwe', ..., 2012.0, '2002', nan]],
      dtype=object)

Ecrire un csv :

In [ ]:

df.to_csv('/content/drive/MyDrive/Openclassrooms/P2/Data/Test.csv')

df=pd.read_csv('/content/drive/MyDrive/Openclassrooms/P2/Data/Test.csv')
df.values

array([[0, 'ABW', 'Aruba', ..., 2012.0, nan, nan],
       [1, 'AFG', 'Afghanistan', ..., 2012.0, '2000', nan],
       [2, 'AGO', 'Angola', ..., nan, '2005', nan],
       ...,
       [238, 'ZAF', 'South Africa', ..., 2012.0, '2000', nan],
       [239, 'ZMB', 'Zambia', ..., 2011.0, '2002', nan],
       [240, 'ZWE', 'Zimbabwe', ..., 2012.0, '2002', nan]], dtype=object)